<div class="row projects">
	<div class="col-md-4 project-item">
		<h3>Project One Headline</h3>
            <hr />
            <span>A detailed description on the project or nature of your work, role and skills learned.</span>
	</div>
	<div class="col-md-4 project-item">
    	<h3>Project Two Headline</h3>
                <hr />
                <span>A detailed description on the project or nature of your work, role and skills learned.</span>
    </div>
	<div class="col-md-4 project-item">
		<h3>Project Three Headline</h3>
            <hr />
            <span>A detailed description on the project or nature of your work, role and skills learned.</span>
	</div>
</div>